.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .button {
    width: 52.5%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 7px;
  }
}
